<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid bg">
  <div id="top-header"style="margin-top: 2%" >
    <div class="container">
      <div class="pull-left" style="margin-top: -20px" >
        <span>Welcome to My-Shop!</span>
      </div>
      <div class="pull-right">
        <ul class="header-top-links" style="text-align: right; margin-top: -20px ">
          <li><a href="#" >Store</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /top Header -->

  <div id="header">
    <div class="container">
      <div class="pull-left">
        <!-- Logo -->
        <div class="header-logo">
          <a class="logo" href="app.component.html">
            <img  src="../assets/img/My-Shop%20.png" >
          </a>
        </div>
        <!-- /Logo -->
        <!-- Search -->
        <div class="header-search">
          <form>
            <input class="input search-input" type="text" placeholder="Enter your  category">
            <button class="search-btn"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <!-- /Search -->
      </div>
      <div class="pull-right">
        <ul class="header-btns">
          <!-- Account -->
          <li class="header-account dropdown default-dropdown">
            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
              <div class="header-btns-icon">
                <i class="fa fa-user-o"></i>
              </div>
             <a routerLink="/login"> <strong class="text-uppercase " >My Account </strong></a>
            </div>

          </li>
          <!-- /Account -->
          <!-- Cart -->
          <li class="header-account dropdown default-dropdown">
            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
              <div class="header-btns-icon">
                <i class="fa fa-shopping-cart"></i>
              </div>
              <strong class="text-uppercase">My Cart</strong><br>
              <div class="pull-right">
                <ul class="header-top-links" style="text-align: right; margin-top: 5%">
                  <li><a href="#" >Store</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <a routerLink="/categories" role="button"> categories</a>
</div>

