<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
  <link type="text/css" rel="stylesheet" href="product-list.component.css" />
</head>

<body >
<br>
<h2>Vêtements & Chaussures</h2>
<!-- /HEADER -->
<div *ngFor="let product of products">
<div class="col-md-6 " >

  <img src="../../assets/img/banner10.jpg" alt="Denim Jeans" style="width:100%">
  <h2  >{{product.name}}</h2>
  <h2 class="price">{{product.price.value}} DH</h2>

  <p><button>Add to Cart</button></p>
  <p><button>View Product</button></p>
</div>
  </div>


</body>

</html>
